<!--商品详细子页面-->
<div class="panel panel-info">
    <div class="panel-heading">商品详情页</div>
    <div class="panel-body">
        <!--<p class="well">这是商品详情页</p>-->
        <!--<p class="well">{{product.name}},{{product.price}}</p>-->
        <!--<button class="btn btn-link" ng-click="add()">购买</button>-->
        <div class="main clearfix">
            <div class="mainLeft">
                <div id="mainLeft_top">
                    <img src="images/2017-01-15_165817_03.jpg" class="tu">
                    <img src="images/583d1788N5af84a4e.jpg">
                    <img src="images/5764e72dN66dd41a8.jpg">
                    <img src="images/5764e907Nb41c4190.jpg">
                    <img src="images/583d1788N5af84a4e.jpg">
                    <span></span>
                </div>




                <div class="mainLeft_mid">
                    <a href="#" class="vv"><img src="images/2017-01-15_165817_03.jpg"></a>
                    <a href="#"><img src="images/583d1788N5af84a4e.jpg"></a>
                    <a href="#"><img src="images/5764e72dN66dd41a8.jpg"></a>
                    <a href="#"><img src="images/5764e907Nb41c4190.jpg"></a>
                    <a href="#"><img src="images/583d1788N5af84a4e.jpg"></a>
                </div>
                <div class="mainLeft_bot">
                    <span>关注</span>
                    <span>分享</span>
                    <span class="active">举报</span>
                </div>
            </div>



            <div class="mainMid">
                <div id="box2">
                    <img src="images/2017-01-15_165817_03.jpg" class="da">
                    <img src="images/583d1788N5af84a4e.jpg">
                    <img src="images/5764e72dN66dd41a8.jpg">
                    <img src="images/5764e907Nb41c4190.jpg">
                    <img src="images/583d1788N5af84a4e.jpg">
                </div>





                <div class="mainMid_top"><img src="images/trcgfchj.jpg"></div>
                <div id="box3">
                    <div id="one" class="clearfix">
                        <h4>选择颜色</h4>
                        <ul>
                            <li>黑色</li>
                            <li>蓝色</li>
                            <li>白色</li>
                            <li class="bg">紫色</li>
                            <li>银色</li>
                            <li>金色</li>
                            <li>亮黑</li>
                            <li>珍珠白</li>

                        </ul>
                    </div>
                    <div id="two" class="clearfix">
                        <div id="left"  class="clearfix">
                            <div id="num">1</div>
                            <div id="btn">
                                <div id="btn1">+</div>
                                <div id="btn2">-</div>
                            </div>
                        </div>
                        <div id="right" ng-click="add()">加入购物车</div>
                    </div>
                </div>
            </div>
            <div class="mainRight"><img src="images/hgfgewfh_03.jpg"></div>

        </div>
        <div class="gun">
            <div class="tab">
                <ul>
                    <li class="ac" id="pp"><a href="javascript:;">人气精品</a></li>
                    <li class="ha"><a href="javascript:;">店长推荐</a></li>

                </ul>
                <div class="cont">
                    <div>
                        <ul>
                            <li><img src="images/5760cd3aN0af12082.jpg"></li>
                            <li><img src="images/5763c0aeN6021c46d.jpg"></li>
                            <li><img src="images/5764e72dN66dd41a8.jpg"></li>
                            <li><img src="images/5760cd3aN0af12082.jpg"></li>
                            <li><img src="images/5763c0aeN6021c46d.jpg"></li>
                        </ul>

                    </div>
                    <div class="hide">
                        <ul>
                            <li><img src="images/5764e72dN66dd41a8.jpg"></li>
                            <li><img src="images/584696b3Nf8843236.jpg"></li>
                            <li><img src="images/5760cd3aN0af12082.jpg"></li>
                            <li><img src="images/5764e72dN66dd41a8.jpg"></li>
                            <li><img src="images/5763c0aeN6021c46d.jpg"></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>